.pagina{
    display: grid;
    gap: 16px;

    grid-template-areas:
    'header '
    'nav '
    'main'
    'aside'
    'footer'
    ;
}

header{
    background-color: rgba(0, 0, 250, 0.6);
    grid-area: header;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 4px  rgb(253, 141, 4);
}
nav{
    background-color: rgba(132, 0, 255, 0.637);
    grid-area: nav;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 4px  rgb(253, 141, 4);
}
aside{
    display: none;
}
.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
main{
    background-color: rgba(255, 19, 19, 0.708);
    grid-area: main;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 4px  rgb(253, 141, 4);
}
footer{
    background-color: rgba(255, 255, 0, 0.594);
    grid-area: footer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 4px  rgb(44, 44, 5);
}
.galeria{
    display: grid;
    grid-template-columns: repeat(aut0-fill,minmax(250px,1fr));
    gap: 16px;
    padding: 20px;
    border-radius: 10px;
}
.galeria img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.galeria .destaque{
    grid-column: span 2;
}
@media(min-width:600px){

    .nav-links {
        list-style: none;
        gap: 10px;
        display: flex;
        flex-direction: row;
    }
    .nav-links a{
        color: white;
        text-decoration: none;
    }
    .galeria{
        grid-template-columns: repeat(2,1fr);   /* ponto a ser repisado */

    }
}

/* agora para desktop */
@media(min-width:1024px){

    .pagina{
        grid-template-columns: 220px 1fr 200px;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"            /* duvida dessa parte */
        "footer footer footer"
        ;
    }

    aside{
        background-color: teal;
        display: block;
        border-radius: 10px;
        box-shadow: 5px 2px 4px  rgb(253, 141, 4);
    }
    .galeria{
        grid-template-columns: repeat(3,1fr);
    }
}