/* Mobile first */
@media(max-width:375px){

    picture{
        background:url(../assets/images/image-web-3-mobile.jpg);
        background-size: cover;
        width: 100%;
        
    }
    .nav{
        display: none;
    }
    #artigos{
        flex-direction: column;
        gap: 40px;
    }

    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;

        
        grid-template-areas:
        'nav'
        'picture'
        'header'
        'section'
        'aside'
        'article'
        ;

        max-width: 350px;
        margin: auto;
        gap: 20px;
    }
}