*{
    box-sizing: border-box;
}
.card{
    width: 280px;
    padding: 20px;
    border: 1px solid #0c7ea7;
    border-radius: 8px;
    margin: 30px;
}
.card h3{
    font-size: 1.2rem;
    color: blue;
    margin-bottom: 10px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 4px;
}
button:hover{
    background-color: gray;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}